:root {
  /* Primarios */
  --dark-blue: rgb(45, 49, 77);
  --lime-green: rgb(49, 211, 92);
  --bright-cyan: rgb(43, 183, 218);

  /* Comps */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
html{
  overflow-x: hidden;
}
body {
  font-family: "Public Sans", sans-serif;
}
/* main components */
.btn-main{
  background: linear-gradient(90deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
  padding: 0.6rem 1.5rem;
  color: var(--white);
  border-radius: 50px;
  display: inline-block;
}
.btn-main:hover{
  color: var(--white);
  text-decoration: none;
}